body, h1, ul {
    margin: 0;
}

.header-menu {
    display: flex; 
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

.container {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}


